<!-- <!DOCTYPE html>
        <html>
        <head>
            <meta charset="utf-8"/>
            <title>Home/title>
        </head>
        <body>
            <form method="post" action="{% url 'home' %}">{% csrf_token %}
                {% if uname %}
                    Helo, {{uname}}<br>
                    The user already signed in. He may need to sign out<br>
                    <input type="submit" name="submit" value="sign-out">            
                {% else %}
                    Please sign-in<br>
                    <input type="submit" name="submit" value="sign-in">
                {% endif %}  
            </form> 
        </body>
        </html> -->
<html><head><title>Books</title></head>
<body>
<h1>Books</h1>
<ul>
{% for book in book_list %}
<li>{{ book.name }}</li>
{% endfor %}
</ul>
</body></html>